<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Paneli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1 class="ust-baslik">Admin Paneli</h1>

<div class="container" style="max-width: 900px;">

    {% if rows %}
        <table border="1" width="100%" cellpadding="10" style="border-collapse: collapse;">
            <tr>
                <th>ID</th>
                <th>Kullanıcı</th>
                <th>sifre</th>
                <th>elmas</th>
                <th>Tarih</th>
            </tr>

            {% for r in rows %}
            <tr>
                <td>{{ r[0] }}</td>
                <td>{{ r[1] }}</td>
                <td>{{ r[2] }}</td>
                <td>{{ r[3] }}</td>
                <td>{{ r[4] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Henüz kayıt yok.</p>
    {% endif %}

</div>

</body>
</html>